.app{
  text-align: center;
  color: green;
}
.hero__cards{
  /* display: flex;
  justify-content: center;
  align-items: center;
  */
  
}
.card__item{
  padding: 10px;
  margin: 10px;
    box-shadow: 2px 3px 4px 5px rgb(0,0,0,0.6);
}